* {margin: 0;
padding: 0;}


body {background-color: #131929;
font-family: 'Montserrat', sans-serif;
color: white;}

.container.header-1 {
    margin-top: 133px;
}

header {width: 100%;
height: 100%;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Source Sans Pro', sans-serif;}


p.greeting {
    background: #8545FF;
    height: 48px;
    width: 178px;
    border-radius: 50px;
    line-height: 48px;
    padding: 0px 34px;
}

h2.name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 54px;
}

h4.name-2 {
    font-size: 28px;
    font-weight: 200;
    margin-bottom: 41px;
    font-family: 'Montserrat', sans-serif;}

.info-group {
    font-size: 15px;
    font-weight: 200;
}

img.avt {
    margin-left: 69px;
}

i.icons {
    margin-right: 20px;
    color: #8545FF;
}

.social-media {
    margin-top: 40px;
    margin-left: 31px;

}

.icon-2 {
    margin-right: 37px;
transition: 0.3s;}

.section-1 {
    margin-top: 150px;
}

img.pic-1 {
    width: 618px;
}

h3.about {
    font-size: 48px;
    margin-bottom: 39px;
}

p.about-2 {
    line-height: 27px;
    font-size: 14px;
}

button.download {
    height: 60px;
    width: 236px;
    border-radius: 50px;
    background-color: #8544ff;
    color: white;
    border: none;
    margin-top: 24px;
    font-weight: 600;
    transition: 0.4s;}

.section-2 {
    margin-top: 150px;
}

.section-3 {
    margin-top: 150px;
}

.section-4 {
    margin-top: 150px;
}

.section-5 {
    margin-top: 150px;
}

.section-6 {
    margin-top: 150px;
background-image: url(map.png);}

h3.category {
    text-align: center;
    font-size: 48px;
    margin-bottom: 62px;
}

img.pic-2 {
    width: 121px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    border: solid 1px #ffffff21;}  

p.year {
    font-size: 20px;
    font-weight: 600;
    color: #8544ff;
}

p.school {
    font-weight: 600;
    margin-top: -15px;
}

p.school-2 {
    font-weight: 100;
    font-size: 14px;
}

.mt-5 {
    margin-top: 9rem!important;
}

.line {
    height: 600px;
    width: 1px;
    background-color: #ffffff21;
    position: absolute;
    z-index: 1;
    top: 1377px;
    left: 49%;
}

.percentage {
    height: 14px;
    width: 314px;
    background-color: #8544ff;
    border-radius: 33px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 2;
}

.bar-2 {
    height: 14px;
    width: 500px;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
}
h4.skill-type {
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 48px;
}

.bar {
    position: relative;
}

p.skill-name {
    font-weight: 700;
    margin-top: 33px;
    font-size: 18px;

}


    .percentage.per-2 {
        width: 353px;
    }

    .percentage.per-3 {
        width: 254px;
    }
    .percentage.per-4 {
        width: 307px;
    }
    .percentage.per-5 {
        width: 367px;
    }

    .percentage.per-6 {
        width: 332px;
    }

    .percentage.per-7 {
        width: 431px;
    }

    .percentage.per-8 {
        width: 384px;
    }

    .percentage.per-9 {
        width: 407px;
    }
    

    .bar-group {
        margin-bottom: 60px;
    }

    .line.line-2 {
        top: 3300px;
        height: 552px;
    }

    span.purple {
    color: #8544ff;
}

p.work {
    font-weight: 700;
    margin-bottom: 4px;
}

img.pic-3 {
    width: 400px;
    border-radius: 5px;
    height: 279px;
transition: 0.4s;}


    .overlay {
        width: 400px;
        height: 279px;
        background-color: #8644ff59;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 16px;
        z-index: 2;
        text-align: center;
    opacity: 0;
transition: 0.4s;}

    .col-5.imgg:hover .overlay {opacity: 1;}

    p.port-name {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 0px;
        padding-top: 113px;
    }


    .circle {
        text-align: center;
        padding-top: 350px;
    }

    i.fas.fa-circle {
        transform: scale(0.7);
        margin-right: 10px;
        color: #8544ff80;
    }

    
    .chevron {
        font-size: 60px;
        color: #8544ff;
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 1131px;
        margin: auto;
        margin-top: -236px;
    cursor: pointer;}


    .information {
        height: 188px;
        width: 188px;
        background-color: #ffffff21;
        border-radius: 50%;
        /* margin: auto; */
        text-align: center;
    }

    p.infoo {
        font-weight: 700;
        margin-bottom: -2px;
        margin-top: 7px;}

    p.info-2 {
        font-size: 13px;
    }

    .icon-3 {
        font-size: 54px;
        color: #8544ff;
        margin-top: 25px;
    }

    .container.message {
        margin-top: 80px;
    }

    input.enter-info {
        height: 50px;
        width: 220px;
        border: solid 1px #7070708c;
        background-color: #ffffff6e;
        border-radius: 5px;
        color: white;
        font-size: 14px;
        padding-left: 22px;
        margin-right: 20px;
    }

    input.enter-info.email-enter {
        margin-top: 20px;
        width: 464px;}


        input.enter-info.message-enter {
            margin-top: 20px;
            width: 464px;
            height: 147px;
        }

        .map-1 {
            width: 579px;
            height: 357px;
            overflow: hidden;
            border-radius: 5px;
        }

        button.mess-button {
            border: none;
            width: 464px;
            height: 50px;
            margin-top: 20px;
            background-color: #8544ff;
            border-radius: 5px;
            color: white;
            transition: 0.3s;
        }

        p.copyright {
            text-align: center;
            font-size: 12px;
            font-weight: 100;
        }

        footer {
            padding: 53px;
        }

        img.logo {
            width: 85px;
            margin-top: 8px;}

        .menu {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            width: 700px;
            margin-left: 150px;
            line-height: 68px;
            font-weight: 700;
        }

        nav {
            height: 68px;
            background-color: #2c313e;;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;}

        .menu-1 {transition: 0.3s;}

        .menu-1:hover {color: #8544ff;
        cursor: pointer;}


        button.download:hover {
            cursor: pointer;
            background: #6a21f3;
        }

        .icon-2:hover {
            cursor: pointer;
            color: #8544ff;
        }

        button.mess-button:hover {
            background-color: #6a21f3;;
        }

        .active {
            border-bottom: solid 3px #8544ff;
            height: 55px;
        color: #8544ff;}

        

        .slide {
            margin-bottom: 75px;
        }

